.DS_Store

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDEs
.idea/
.vscode/
*.iml
